.white{
    background-color: #f0d9b5;
    height: 100px;
    width: 100px;

}
.black{
    background-color: #b58863;
    height: 100px;
    width: 100px;
    
}
.container{
    display: grid;
    grid-template-columns: 100px 100px ;
    grid-template-rows: 100px 100px  ;
    max-width: 700px;
}